.toolbar-overflow-list {
  background-image:url(images/icons/fam/text_list_bullets.png)
}

.toolbar-overflow-paste {
  background-image:url(images/icons/fam/paste_plain.png)
}

.toolbar-overflow-cut {
  background-image:url(images/icons/fam/cut.png)
}

.toolbar-overflow-copy {
  background-image:url(images/icons/fam/page_copy.png)
}

.toolbar-overflow-format {
  background-image:url(images/icons/fam/paintbrush.png)
}

.toolbar-overflow-list {
  background-image:url(images/icons/fam/text_list_bullets.png)
}

.toolbar-overflow-bold {
  background-image:url(images/icons/fam/text_bold.png)
}

.toolbar-overflow-underline {
  background-image:url(images/icons/fam/text_underline.png)
}

.toolbar-overflow-italic {
  background-image:url(images/icons/fam/text_italic.png)
}

.toolbar-user-suit {
  background-image:url(images/icons/fam/user_suit.png)
}

.toolbar-user-add {
  background-image:url(images/icons/fam/user_add.png)
}

.icon-grid {
  background-image:url(images/icons/fam/application_view_detail.png)
}

.icon-add {
  background-image:url(images/icons/fam/add.png)
}

.icon-save {
  background-image:url(images/icons/fam/bullet_disk.png)
}

.icon-delete {
  background-image:url(images/icons/fam/delete.png)
}

.icon-cancel {
  background-image:url(images/icons/fam/cancel.png)
}

.icon-form {
  background-image:url(images/icons/fam/application_form_add.png)
}
